.contenedor{
  /*  border:5px solid red;*/
    width: 50%;
    height: 300px;
    margin: auto;
}

.input_button{
    border:5px solid red;
    height
}

.input_button section{
    margin-left: 20px;
}



table tbody,table thead{
    text-align: center;
}